html{
  background-color: #68a79169;
  font-family: 'New Tegomin', serif;
}

body{
  margin: 0px;
}

.header {
  height: 100px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background-color: #f9f871;
}

.logo {
  max-width: 250px;
  float:left;
  padding-left: 5px;
}

.logo img {
  max-width: 100%;
  max-height: 100px;
}

.message {
  padding-top: 20px;
}

.message h1 {
  display: inline;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  color: RoyalBlue;
  text-shadow: 3px 3px 3px #ababab;
}

.message img {
  width: 30px;
  height: 28px;
  display: inline;
}

.settings {
  padding-top: 34px;
  padding-right: 10px;
}

.material-icons {
  font-size: 40px;
  color: RoyalBlue;
}

.main {
  margin: auto;
  width: 100%;
  height: 1050px;
}

.main h2 {
  text-align: center;
  font-size: 30px;
  padding: 20px;
  color: RoyalBlue;
}

.flip-box {
  background-color: transparent;
  width: 400px;
  height: 300px;
  perspective: 1000px;
  margin-left: 180px;
  margin-bottom: 150px;
  display:inline-block;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 38px 0 rgba(0,0,0,0.2);
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.chapters {
  float:left;
  width: 100%;
  height: 100%;
}

.chapters img {
  width: 100%;
  height: 300px;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.title {
  position: relative;
  text-align: center;
  color: RoyalBlue;
  font-size: 30px;
  font-weight: 600;
  background-color: #f9f871;
  height: 50px;
  margin-top: -5px;
  padding-top: 10px;
}

.lessons {
  float:left;
  width: 100%;
  height: 100%;
}

.lessons ul{
  list-style-type: none;
}
.lessons ul li{
  padding: 15px;
  margin-top: 15px;
  margin-left: 20px;
}

.lessons a{
  text-decoration: none;
  color: white;
  width: 90%;
  display: flex;
  align-items: center;
}

.lessons a:hover{
  border-radius: 20px;
  border: 1px solid white;
}

.lessons .material-icons{
  font-size: 25px;
  color: white;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 150px;
  animation: icon 1.5s infinite forwards;
}

.forum {
  width:100%;
  height: 600px;
}

.footer {
  top: 20px;
  left: 0;
  bottom: 0;
  background-color: RoyalBlue;
  display: inline-block;
  width: 100%;
}

.footer a {
  float: left;
  padding: 4px;
  padding-top: 15px;
  text-align: center;
  color: black;
}

.footer a:hover {
  color: white;
}

.footer p {
  text-align: center;
}

@keyframes icon {
  0%,100%{
    transform: translate(0px);
  }
  50% {
    transform: translate(3px);
  }
}
